.pagination
    box vertical top left

.paginationButton
    box horizontal middle left
    margin-bottom 28px
.paginationButtonPrev
    height 44px
    padding 0 22px 0 75px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 300
    line-height 44px
    text-decoration none
    transition all .4s
    &:hover
        background-color #f5f5f5

.paginationButtonNext

    height 44px
    padding 0 75px 0 22px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 300
    line-height 44px
    text-decoration none
    transition all .4s
    &:hover
        background-color #f5f5f5

.paginationItem
    box horizontal middle left
    &Active
        background-color #44c8f5
        color #fff !important
    a
        size 30px
        box vertical middle center
        text-decoration none
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 300
        line-height 16px
        margin-right 5px
