.modal#modal_question
    .modalClose
        +svgIcon('icon-close')
    .modalHeader
        h2 Есть вопросы? Обсудите их со специалистом
        p Заполните форму и мы свяжемся с Вами в течение 15 минут
    form.modalForm
        .modalFormRow
            .modalFormItemHalf
                .uiTextInputGroup
                    input(type="text" placeholder="Людмила Иванова")
                    label Имя
            .modalFormItemHalf
                .uiTextInputGroup
                    input(type="text" placeholder="+7 259 999 55 55")
                    label Телефон
        .modalFormSubmit
            button.buttonBlueMedium Позвоните мне

