.sale
    width 100%
    padding 0 125px

.saleGrid
    box vertical top

.saleSection
    box vertical top
    margin-bottom 70px

.saleSectionHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 20px
    h1
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424

.saleSectionContent
    width 100%
    margin-bottom 50px

.saleSectionFooter
    width 100%
    box horizontal middle center
    .buttonBlueMore
        margin-right 16px
.saleSubscripe
    margin-bottom 50px

.saleRow
    lost-flex-container row
    height 308px
    position relative
.saleBigRow
    lost-flex-container row
    height 473px
    position relative
.saleDoubleRow
    lost-flex-container row
    height 616px
    position relative
.saleCellTwo
    lost-column 2/12 2 0 flex
    position relative
    margin 0 !important

.saleCellThird
    lost-column 1/3 3 0 flex
    position relative
    margin 0
    align-self stretch
    &:last-child
        margin-left 0 !important
.saleCellSeventh
    lost-column 7/12 2 0 flex
    position relative
    margin 0 !important
.saleCellSixth
    lost-column 1/2 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical
.saleCellFourth
    lost-column 5/12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical

.saleCellFifth
    lost-column 5/12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical

