.product
    width 100%
    padding 0 125px
    margin-bottom 50px
.productGrid
    box vertical top
.productWrap
    box horizontal top
    margin-bottom 100px
.productLeft
    lost-column 5/12 2 0 flex
    position relative
    margin 0 !important

.productRight
    lost-column 7/12 2 0 flex
    position relative
    margin 0 !important

.productContent
    background-color #f5f5f5
    padding 35px 50px

.productSection
    box vertical top
    margin-bottom 70px

.productSectionHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 20px
    h1
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424

.productSectionContent
    width 100%
    margin-bottom 50px

.productSectionFooter
    width 100%
    box horizontal middle center
    .buttonBlueMore
        margin-right 16px
.productSubscripe
    margin-bottom 50px

.productRow
    lost-flex-container row
    height 308px
    position relative
.productBigRow
    lost-flex-container row
    height 473px
    position relative
.productDoubleRow
    lost-flex-container row
    height 616px
    position relative
.productCellTwo
    lost-column 2/12 2 0 flex
    position relative
    margin 0 !important

.productCellThird
    lost-column 1/3 3 0 flex
    position relative
    margin 0
    align-self stretch
    &:last-child
        margin-left 0 !important
.productCellSeventh
    lost-column 7/12 2 0 flex
    position relative
    margin 0 !important
.productCellSixth
    lost-column 1/2 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical
.productCellFourth
    lost-column 5/12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical

.productCellFifth
    lost-column 5/12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical

