.pageSliders
    position relative
.pageSlider
    height 310px
    margin-bottom 43px

.pageSlide
    width auto

.pageSliderPrev
    position absolute
    cursor pointer
    top center
    left -50px
    svg
        size 36px

.pageSliderNext
    position absolute
    cursor pointer
    top center
    right -50px
    svg
        transform rotate(180deg)
        size 36px
