.header
    width 100%
    background-color #fff
    height 100px
    margin-bottom 20px
    &Wrap
        // max-width 1224px
        padding 0 125px
        margin 0 auto
        height 100px
        position relative
        box horizontal middle space-between
.headerLogo
    a
        svg
            size 100px
.headerControl
    flex 1 1 auto
    box vertical top
.headerPrima
    flex 0 1 auto
    padding-left 40px
    margin-bottom 25px
    box horizontal middle space-between

.headerSecundo
    flex 0 1 auto
    padding-left 55px
    box horizontal middle space-between
.headerTopSocial
    a
        text-decoration none
        margin-right 10px
        svg
            size 14px