doctype
html
    head
        title Libra
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700&amp;subset=cyrillic" rel="stylesheet")
        link(href='./css/main.css', type="text/css", rel="stylesheet")
        //script(src='../bower_components/webcomponentsjs/webcomponents.js')
        script.
            (function() {
                if ('registerElement' in document
                    && 'import' in document.createElement('link')
                    && 'content' in document.createElement('template')) {
                } else {
                    // polyfill the platform!
                    var e = document.createElement('script');
                    e.src = '../bower_components/webcomponentsjs/webcomponents-lite.min.js';
                    document.body.appendChild(e);
                }
            })();

        link(rel="import" href="bower_components/polymer/polymer.html")
        //- link(rel="import" href="polymer/iron-a11y-keys-behavior.html")
        link(rel="import" href="bower_components/paper-ripple/paper-ripple.html")
        //- link(rel="import" href="polymer/paper-input-behavior.html")
        //- link(rel="import" href="polymer/paper-input-container.html")
        //- link(rel="import" href="polymer/paper-input-error.html")
        link(rel="import" href="bower_components/paper-input/paper-input.html")
        //- script(src="./js/preload.js")

        //- include _svg.jade
        //- include _mixin.jade


    body
        include _svg.pug
        include block/_header.pug

        block content

        include block/_footer.pug
        script(src="./js/app.js")
