extends _layout

block content
    .cart
        .cartHeader
            h1 Спасибо за заказ
        .cartContent
            h2 Заказа № 3565478 оформлен
            p
                | О готовности заказа мы Вас оповестим. Для Вас открыт личный кабинет. Информция для входа в личный кабинет была направлена на Ваш электронный адрес&nbsp
                span nico@gmail.com