extends _layout

block content
    .breadcrumbs
        a(href="#") Каталог
        a(href="#") Средства по уходу за лицом
    .product
        .productWrap
            .productLeft
                .productImages
                    .productImageSlider.swiper-container
                        .swiper-wrapper
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                    .productImageSliderThumbs
                        .productImageSliderThumb.productImageSliderThumbActive
                            img(src="img/item-1.png", alt="")
                        .productImageSliderThumb
                            img(src="img/item-1.png", alt="")
                        .productImageSliderThumb
                            img(src="img/item-1.png", alt="")
                .productRelatedVideo
                    a(href="#").productRelatedVideoItem
                        .productRelatedVideoItemIcon
                            +svgIcon('icon-video')
                        .productRelatedVideoItemText
                            | Как ухаживать за кодей с помощью гиалуронового крема
                .productDiagnostic
                    .productDiagnosticHeader
                        | Диагностика
                    .productDiagnosticText
                        | Пройти тест и узнай свой тип кожи
                    .productDiagnosticButton
                        a(href="#").buttonBlueMedium Пройти тест


            .productRight
                .productContent
                    .productTop
                        .productStarReview
                            .productStars
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar.productStarEmpty
                                    +svgIcon('icon-star-fill')
                            .productStarReviewText
                                | 8 отзывов
                        .productCurrentView
                            | 5 человек в данный момент просматривают этот товар
                    .productHeader
                        h1 Крем ГИАЛУРОНОВЫЙ увлажняющий
                    .productTypes
                        .productType
                            .productTypeIcon
                                include ../svg/icon-day.svg
                            .productTypeText 20-30 лет
                        .productType
                            .productTypeIcon
                                include ../svg/icon-day.svg
                            .productTypeText Тип Жирный
                        .productType
                            .productTypeIcon
                                include ../svg/icon-day.svg
                            .productTypeText День
                        .productType
                            .productTypeIcon
                                include ../svg/icon-day.svg
                            .productTypeText Без красителей
                    .productPrices
                        .productPriceTop
                            .productPrice
                                .productPriceSale
                                    | 399
                                    .ruble г
                                .productPriceValue
                                    | 299
                                    .ruble г
                            .productStock
                                | 5 шт. в наличии
                        .productPriceAdd
                            .productPriceQty
                                .productPriceQtyMinus
                                    include ../svg/icon-plus.svg
                                .productPriceQtyText 1
                                .productPriceQtyMinus
                                    include ../svg/icon-plus.svg
                            .productPriceAddCart
                                .productPriceAddCartIcon
                                    include ../svg/icon-cart.svg
                                .productPriceAddCartText
                                    | В корзину
                            .productPriceAddWish
                                .productPriceAddWishIcon
                                    include ../svg/icon-wishlist.svg
                                .productPriceAddWishText В избранное
                        .productPriceDelivery
                            | Бесплатная доставка от 3 000
                            .ruble г
                        .productPriceBuy
                            .productPriceBuyIcon
                                +svgIcon('icon-hospital')
                            .productPriceBuyText
                                | Купить в аптеке
                    .productBottom
                        .productDescription
                            .productDescriptionText
                                | Эффективно увлажняет, восстанавливает и успокаивает кожу. Желе для умывания применяется для деликатного очищения лица и шеи.
                            .productDescriptionPresent
                                .productDescriptionPresentIcon
                                    +svgIcon('icon-present')
                                .productDescriptionPresentText
                                    | Подарок от ЛибреДерм
                        .productFavoriteReviews
                            .productFavoriteReview
                                .productFavoriteReviewText
                                    | Этот крем прекрасно мне подошёл, не смотря на проблему с угрями. Я бы могла сказать что...
                                .productFavoriteReviewAuthor
                                    .productFavoriteReviewAuthorIcon
                                        +svgIcon('icon-comment')
                                    .productFavoriteReviewAuthorName
                                        | Оксана Игоревна
                            .productFavoriteReviewButton
                                a(href='#').buttonDarkGrey Все отзывы
                    .productFooter
                        .productFooterSocial
                            .productFooterSocialText
                                | Поделись товаром в соцсетях-получи скидку 20%
                            .productFooterSocialLinks
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-vk')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-ok')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-yt')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-ig')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-fb')

        .productFooterImage(style="background: url('img/product-footer.jpg'")
        .productTabs
            .productTabControls
                button.productTabButton
                    | Описание
                button.productTabButton
                    | Состав
                button.productTabButton
                    | Применение
                button.productTabButton
                    | Оплата и доставка
                button.productTabButton.productTabButtonActive
                    | Отзывы
            .productTabPanels
                .productTabPanel
                    .productReviews
                        .productReview
                            .productReviewAvatar
                                +svgIcon('icon-vk')
                            .productReviewContent
                                .productReviewDate
                                    | 15 декабря
                                .productReviewAuthor
                                    | Мария Светлакова
                                .productReviewText
                                    | Спасибо компании Libreferm за заботу о моей коже! Я очень рада что узнала о вашей косметике. Теперь пользуюсь только ею.
                            .productReviewPhoto
                                img(src="img/item-1.png", alt="")
                        .productReview
                            .productReviewAvatar
                                img(src="img/avatar.jpg", alt="")
                            .productReviewContent
                                .productReviewDate
                                    | 15 декабря
                                .productReviewAuthor
                                    | Мария Светлакова
                                .productReviewText
                                    | Спасибо компании Libreferm за заботу о моей коже! Я очень рада что узнала о вашей косметике. Теперь пользуюсь только ею.
                            .productReviewPhoto
                                img(src="img/item-1.png", alt="")
                    .productReviewForm
                        .productReviewFormHeader
                            | Написать отзыв
                        label.productReviewFormLabel Ваш отзыв
                        textarea.productReviewFormTextarea
                        .productReviewFormSubmits
                            button.buttonBlueMedium Отправить
                            .productReviewFormFile
                                .productReviewFormFileIcon
                                    +svgIcon('icon-plus')
                                .productReviewFormFileText
                                    | Добавить фото

        .productBundle
            .productBundleHeader
                h2 Комплексный уход
            .productBundleItems
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox")
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                    include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox")
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                    include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemEqual
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox")
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                    include ../svg/icon-wishlist.svg
                .productBundleItem
                    .productBundleFinal
                        .productBundleFinalName
                            | Комплексный гиалуроновый уход за кожей
                        .productBundleFinalDescription
                            | Закажите комплекс и получите скидку 15%
                        .productBundleFinalPrice
                            .productBundleFinalPriceSale
                                | 1399
                                .ruble г
                            .productBundleFinalPriceValue
                                | 1199
                                .ruble г
                        .productBundleFinalButton
                            .productBundleAddCart
                                .productBundleAddCartIcon
                                    include ../svg/icon-cart.svg
                                .productBundleAddCartText
                                    | В корзину



        .productInstagramm
            .productInstagrammHeader
                h2 о Креме ГИАЛУРОНОВОМ увлажняющем в Instagram
            .productInstagrammContent
        .productBlock
            .productBlockHeader
                h2 о Креме ГИАЛУРОНОВОМ увлажняющем в Instagram
            .productBlockContent
                .mainRow
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                .mainRow
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductLightGrey
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
            .mainSectionFooter
                button.buttonBlueMore
                    | +
                a(href="#").buttonGreyBig
                    | в каталог
        .productBlock
            .productBlockHeader
                h2 Рекомендуемые товары
            .productBlockContent
                .mainRow
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                .mainRow
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductLightGrey
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                        include ../svg/icon-wishlist.svg
            .mainSectionFooter
                button.buttonBlueMore
                    | +
                a(href="#").buttonGreyBig
                    | в каталог