.blogRow
    lost-flex-container row
    height 408px
    position relative
.blogCard
    position relative
    height 100%
    transition all .4s easeOutBack
    &:hover
        z-index 100
        box-shadow 0 2px 21px rgba(35, 64, 77, 0.48)
        .blogCardContentHover
            opacity 1
.blogCardBig
    lost-column 8/12 0 0 flex

.blogCardSmall
    lost-column 4/12 0 0 flex

.blogCardCategory
    display block
    position absolute
    top 21px
    left 28px
    background-color #fff
    color #6d6e71
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    height 32px
    line-height 32px
    padding 0 28px
    z-index 30

.blogCardImage
    display block
    position absolute
    size 100%
    top 0
    left 0
    background-repeat no-repeat
    background-size cover
    z-index 10

.blogCardGradient
    display block
    position absolute
    size 100%
    top 0
    left 0
    background-image linear-gradient(to top, rgba(255, 255, 255, 0.58) 0%, rgba(255, 255, 255, 0) 100%)
    z-index 15
    transition all .4s easeOutBack
.blogCardContentHover
    position absolute
    size 100%
    background-color #f3f2f3
    z-index 25
    opacity 0
    pointer-events none
    box vertical middle left
    padding  0 10%
    transition all .4s easeOutBack

.blogCardContent
    display block
    position absolute
    top 265px
    left 28px
    z-index 20
    box vertical top left

.blogCardDate
    width auto
    position relative
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    margin-bottom 25px
    text-transform uppercase
    &:after
        position absolute
        content ''
        size 100% 2px
        background-color #000
        left 0
        bottom -4px
.blogCardTitle
    display block
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 300
    line-height 28px