.cardAbout
    display block
    position relative
    size 100%
    padding 50px 80px 0
    box vertical top left
.cardAboutHeader
    flex 0 1 autn
    margin-bottom 20px
    span
        display inline-block
        position relative
        font-family 'decima', Arial, Helvetica, sans-serif
        color #242424
        font-size 24px
        font-weight 400
        line-height 30px
        text-transform uppercase
        &:after
            content ''
            position absolute
            size 100% 2px
            background #242424
            left 0
            bottom -3px
.cardAboutContent
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 200
    line-height 28px
