.cardAdvantage
    display block
    position relative
    size 100%
    padding 41px 37px
    box vertical top
    background-color #fff
.cardAdvantageHeader
    flex 0 1 auto
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    border-bottom 2px solid #242424
    margin-bottom 50px
.cardAdvantageItems
    flex 1 1 auto
    box vertical top space-between
.cardAdvantageItem
    box vertical top center
    &Icon
        margin-bottom 23px
        svg
            size 73px 63px
    &Text
        text-align center
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 300
        line-height 28px