.cardCollection
    display block
    position relative
    size 100%
    padding 0 40px
    transition all .4s easeOutBack
    text-decoration none
    color #000
    &:hover
        z-index 100
        box-shadow 0 2px 21px rgba(35, 64, 77, 0.48)
    &Yellow
        background-color #f7d15e
    &White
        background-color #fff
    &Grey
        background-color #f0f0f2
    &Blue
        background-color #44c8f5
    &LightGrey
        background-color #f5f5f5
    &Big
        .cardCollectionLeft
            padding-top 128px
            box vertical top left
        .cardCollectionDescription
            flex 0 1 auto
.cardCollectionLabel
    display block
    position absolute
    top 19px
    right 22px
    color #242424
    font-family "Decima Mono X"
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
.cardCollectionContent
    box horizontal middle
    flex-wrap wrap
    size 100%
.cardCollectionLeft
    lost-column 1/2 2 0 flex
    align-self stretch
    padding 45px 0
    box vertical top space-between
.cardCollectionRight
    lost-column 1/2 2 0 flex
    align-self stretch
.cardCollectionImage
    size 100%
    box vertical middle right

.cardCollectionHeader
    flex 0 1 auto
    margin-bottom 20px
    span
        display inline-block
        position relative
        font-family 'decima', Arial, Helvetica, sans-serif
        color #242424
        font-size 16px
        font-weight 400
        line-height 20px
        text-transform uppercase
        &:after
            content ''
            position absolute
            size 100% 2px
            background #242424
            left 0
            bottom -3px
.cardCollectionDescription
    flex 1 1 auto
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 200
    line-height 22px
    margin-bottom 20px
.cardCollectionControl
    flex 0 1 auto
    z-index 1000
