.cardSimple
    display block
    position relative
    size 100%
    padding 50px 80px
    box vertical top left
    &Grey
        background-color #f0f0f2

.cardSimpleHeader
    flex 0 1 auto
    margin-bottom 20px
    span
        display inline-block
        position relative
        font-family 'decima'
        color #242424
        font-size 16px
        font-weight 400
        line-height 20px
        text-transform uppercase
        &:after
            content ''
            position absolute
            size 100% 2px
            background #242424
            left 0
            bottom -3px
.cardSimpleContent
    flex 0 1 auto
    margin-bottom 30px
    p
        color #242424
        font-family 'graphik'
        font-size 16px
        font-weight 300
        line-height 28px


.cardCollectionControl
    flex 0 1 auto
    z-index 1000
