.cardSubscribe
    display block
    position relative
    size 100%
    padding 50px 80px
    box vertical top left
    &Blue
        background-color #44c8f5
    &Grey
        background-color #f5f5f5
        .cardSubscribeHeader
            span
                color #242424
        .cardSubscribeContent
            color #242424
.cardSubscribeHeader
    flex 0 1 auto
    margin-bottom 10px
    span
        display inline-block
        position relative
        color #f5f5f5
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 30px
        font-weight 300
        line-height 36px

.cardSubscribeContent
    flex 0 1 auto
    margin-bottom 30px
    color #f5f5f5
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 200
    line-height 28px


.cardCollectionControl
    flex 0 1 auto
    z-index 1000

.cardSubscribeFormItems
    box horizontal middle
    width 100%
.cardSubscribeFormItem
    lost-column 1/2 2 flex
