.filter
    .filterItems
        .filterItem
            | Тип кожи
        .filterItem
            | Возраст
        .filterItem
            | Эффект
        .filterItem
            | Зона использования
        .filterItem
            | Время суток
        .filterItem
            | Время суток
        .filterItem
            | Активные вещества
        .filterItem
            | Коллекции
    .filterSelected
        .filterSelectedItem
            | Для волос
        .filterSelectedItem
            | Гиалуроновая коллекция
        .filterSelectedClear
            | Сбросить