.headerTop
    .headerTopWrap
        .headerTopWork
            | Работаем по всей России. Бесплатная доставка от 3000 руб.
        .headerTopPhone
            .headerTopPhoneLink
                a(href="tel: +7 (800) 234-82-28") +7 (800) 234-82-28
            .headerTopPhoneButton
                button.buttonBlueSmall
                    paper-ripple
                    | Заказать звонок
        .headerTopSocial
            a(href="#")
                +svgIcon('icon-vk')
            a(href="#")
                +svgIcon('icon-ok')
            a(href="#")
                +svgIcon('icon-yt')
            a(href="#")
                +svgIcon('icon-ig')
            a(href="#")
                +svgIcon('icon-fb')
        .headerTopAccount
            .headerTopLogin
                +svgIcon('ic_person_18px')
                .headerTopLoginText
                    | Вход
            ||
            .headerTopRegistation
                .headerTopRegistationText
                    | Регистрация
.header
    .headerWrap
        .headerLogo
            a(href="#")
                +svgIcon('logo')
        .headerControl
            .headerPrima
                .headerMenu
                    .headerMenuItem
                        paper-ripple
                        a(href="#") Вся продукция
                    .headerMenuItem.headerMenuItemActive
                        paper-ripple
                        a(href="#") Лицо
                    .headerMenuItem
                        paper-ripple
                        a(href="#") Тело
                    .headerMenuItem
                        paper-ripple
                        a(href="#") Волосы
                    .headerMenuItem
                        paper-ripple
                        a(href="#") Коллекции
                    .headerMenuItem
                        paper-ripple
                        a(href="#") Новинки
                    .headerMenuItem
                        paper-ripple
                        a(href="#") акции
                .headerCarts
                    .headerWishListIcon
                        include ../../svg/icon-wishlist.svg
                        .headerWishListCount
                            | 4
                    .headerCart
                        .headerCartIcon
                            include ../../svg/icon-cart.svg
                            .headerCartCount
                                | 5
                        .headerCartTotal
                            span На сумму
                            | 1500
                            .ruble г
            .headerSecundo
                .headerMenuBottom
                    .headerMenuBottomItem.headerMenuBottomItemActive
                        a(href="#") О компании
                    .headerMenuBottomItem
                        a(href="#") Где купить
                    .headerMenuBottomItem
                        a(href="#") Оплата и доставка
                    .headerMenuBottomItem
                        a(href="#") Наш блог
                    .headerMenuBottomItem
                        a(href="#") Диагностика
                    .headerMenuBottomItem
                        a(href="#") Календарь событий
                    .headerMenuBottomItem
                        a(href="#") Контакты
                .headerSearch
                    button.buttonSearch
