.socialSection
    .socialSectionHeader
        h3 Присоединяйтесь к нам в социальных сетях
    .socialSectionSlogan
        | И Вы будете получать акции скидки
    .socialSectionItems
        a(href="#").socialSectionItem
            .socialSectionIcon.socialSectionIconVK
                include ../../svg/icon-vk.svg
            .socialSectionText +1
        a(href="#").socialSectionItem
            .socialSectionIcon.socialSectionIconOK
                include ../../svg/icon-ok.svg
            .socialSectionText 5816
        a(href="#").socialSectionItem
            .socialSectionIcon.socialSectionIconYT
                include ../../svg/icon-yt.svg
            .socialSectionText 999+
        a(href="#").socialSectionItem
            .socialSectionIcon.socialSectionIconIG

            .socialSectionText 250
        a(href="#").socialSectionItem
            .socialSectionIcon.socialSectionIconFB
                include ../../svg/icon-fb.svg
            .socialSectionText 1.9 тыс